<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Iam Just Showing Give Params</p>
    <p>Name of Person is {{name}} </p>
    <p>{{name}} is from {{place}} </p>
    <p>{{place}} is a state of {{country}}</p>
    <p>Your anlayzed_text is here</p>
    <textarea name="text" id="" cols="30" rows="10" placeholder='Text will be shown here'>{{anlayzed_text}}</textarea>
</body>
</html>