<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/remove_punc" method ='GET'>
        <p>This Page is for operations on Paragraph</p>
        <div>
             <textarea name="text" id="" cols="50" rows="10" placeholder='Please Enter your Text here'></textarea>
            <div><input type="checkbox" name='r_p'>Remove punctuations</input></div>
            <div><input type="checkbox" name='f_c'>Full Caps</input></div>
            <div><input type="checkbox" name='c_r'>count characters</input></div>
            <div><input type="checkbox" name='n_r'>New Line Remover</input></div>
            <div><input type="checkbox" name='s_r'>Extra Space Remover</input></div>
             
        </div>
        <input type="submit" value ='Opperate '>

    </form>
    
</body>
</html>